<div class="container-fluid">
    <div class="row">           
        <div class="span12 offset2">
            <div class="hero-unit">
                <h2>Escreva seus dados aí, Jiow </h2>
                <%= render 'form' %>               
            </div>
        </div>
    </div>    
</div>
