<h3>Campeonatos</h3>

<%if !notice.to_s.empty? %>
  <div class="alert alert-success">
    <button type="button" class="close" data-dismiss="alert">×</button>
    <ul>   
        <li><%= notice %></li>
    </ul>
  </div>
<% end %>

<%= render 'list' %>

<hr>

<%= link_to 'Novo', new_championship_path, :class => 'btn btn-primary btn-large' %>
