<div class="container-fluid">
  <div class="row-fluid">
    <div class="span2">
  		<ul class="nav nav-list">
		  <li class="nav-header">List header</li>
		  <li class="active"><a href="#">Home</a></li>
		  <li><a href="#">Library</a></li>
		</ul>
    </div>
    <div class="span10">
		  <div class="span9">
		    Level 1 column
		    <div class="row">
		      <div class="span6">Level 2</div>
		      <div class="span3">kmfkdaf kmadfkadf adfaf adf adfadf adfd dd df adfadf adf adf adf adf</div>
		    </div>
		  </div>
		</div>
    </div>
  </div>
</div>