<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
 
      <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
 
      <!-- Be sure to leave the brand out there if you want it shown -->
      <a class="brand" href="#">@ApostasNet</a>
 
      <!-- Everything you want hidden at 940px or less, place within here -->
      <div class="nav-collapse">
        <!-- .nav, .navbar-search, .navbar-form, etc -->
      </div>
 
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row-fluid">
    <div class="span2">
  		<ul class="nav nav-list">
		  <li class="nav-header">List header</li>
		  <li class="active"><a href="#">Home</a></li>
		  <li><a href="#">Library</a></li>
		</ul>
    </div>
    <div class="span10">
		  <div class="span9">
		    Level 1 column
		    <div class="row">
		      <div class="span6">Level 2</div>
		      <div class="span3">kmfkdaf kmadfkadf adfaf adf adfadf adfd dd df adfadf adf adf adf adf</div>
		    </div>
		  </div>
		</div>
    </div>
  </div>
</div>