<p>
	<span class="label label-info">Ola <%= current_user.name %>, você está no bolao du bah!!!<br/></span>
</p>
<p> 
	<h3 style="font-size:20px; color:#6495ED;margin-left:30%;">Faça sua próxima aposta</h3>
</p>

<%= render 'gambles'%>
