<div id="round_div">
  <%= render 'round_classification' %>
</div>
<%= form_tag({:action => 'finish_round_and_pontuate_users', :round_id => @round.id}, :remote => true) do %>
  <%= submit_tag "Pontuar Usuários", :confirm=>"Confirma o encerramento da partida?" %>
<% end %>