<h2>Fala Jiow, agora você apostar</h2>

<p>O jiow se você já sabe as regras do bolão pode clicar em apostar logo e nao perde tempo ledo regras hehehe !!!</p>

<p>Agora se tu é fraco e não conhece ainda clica no botão AZUL que esta escrito REGRAS lá para vê como eh essa bagaça!!</p>

<p>
	<%= link_to 'Apostar', apostar_path, :class=> 'btn btn-success btn-large' %>
    <a class="btn btn-info btn-large">Regras</a>
</p>

