<h2>Bolão du Bah, ultimate rules</h2>

<h3> Regras </h3>
<p>
  Se você acertar você ganha. </br>
  Se você não acertar, isso mesmo, você perde e o acontece quando perdemos?</br>
  <small>(Perdemos, entenda por você somente cara palida).</small></br>  
</p>

<h3> Pontuação </h3>
<p>
  A pontuação é simples demais. </br>
  <p>
  Acertando o resultado do jogo você soma <span class="badge badge-success" style=" font-size:25px;">2 pontos</span> </br>
  </p>
  <p>
    Acertando o numero de gols de qualquer time você soma <span class="badge badge-success" style=" font-size:25px;">2 pontos</span> 
  </p>
  <p>
    Acertando nenhuma das alternativas acima você soma <span class="badge badge-success" style=" font-size:25px;">0 pontos</span> hehehe. </br>
  </p>
</p>

<h3> Premiação </h3>
<p>
  A premiação ocorrerá sempre ao final do campeonato que você esta disputando. </br>
  Os três primeiros colocados no ranking geral do campeonato receberão o premio seguindo a regra abaixo
  </br>
  </br>
  <p>
    <span class="badge badge-warning" style=" font-size:30px;"> 1º LUGAR Ganha 60% do valor do bolão </span>
  </p>
  </br>
  <p>
    <span class="badge "  style=" font-size:30px;"> 2º LUGAR Ganha 30% do valor do bolão </span> 
  </p>
  </br>
  <p>
    <span class="badge badge-important"  style=" font-size:30px;"> 3º LUGAR Ganha 10% do valor do bolão </span>
  </p>

  <small> A startar reserva o direto de obter 30% do valor destinado do bolão para fins de manutenção e dos criadores ficarem ricos. </small>
  </br>
  <small> Viu que as cores da premiação são ouro, prata e bronze. </small>
</p>




