<div class="container-fluid">
    <div class="row-fluid">
        <div class="span8">
           <%= render 'registration' %>
        </div>
        <div class="span4">
            <div class="hero-unit" style="height: 280px;">
               <%= render 'form' %>
            </div>
        </div>
    </div>              
</div>   
