.bolaodubah-header-bar
{
    height: 71px;
    background: #f1f1f1;
    border-bottom: 1px solid black;
    overflow: hidden;
}

.content
{
    padding: 0 7%;
}

.header .logo
{
    margin: 17px 0 0;
    float: left;
}
.header .menu
{
    margin: 17px 0 0;
    float: right;
    padding: 0 3%;
}
.stats
{
    border-bottom: 1px solid #DDD;
    margin: 0 0 17px 0;
    padding: 6px 0 15px 0;
}

/*
.bolaodubah-header-bar
{
    height: 71px;
    background: #f1f1f1;
    border-bottom: 1px solid black;
    overflow: hidden;
}

.content
{
    padding: 0 7%;
}

.header .logo
{
    margin: 17px 0 0;
    float: left;
}
.stats
{
    border-bottom: 1px solid #DDD;
    margin: 0 0 17px 0;
    padding: 6px 0 15px 0;
}
*/

