<div class="thumbnail" style="border: 1px solid black;">
    <%= link_to (image_tag current_user.image.url(:thumb), :alt => current_user.name), current_user %>
</div>
<div class="caption">
    <h3>
        <%= current_user.name.humanize %>
    </h3>
</div>
<hr style="border-bottom: 1px solid black;" />
<div class="caption">
    <h4>
        <% if current_user.teams.first != nil %>      
          <%= current_user.teams[0] == nil %>
        <% else %>
          <small>Oh meu amigo escolhe um time aí <%= link_to 'Clique aqui', edit_user_path(current_user) %> </small>
        <% end %>
    </h4>
</div>
